.search {
  margin: 0 auto;
  text-align: center;
}

.logo {
  margin: 150px 0 20px 0;
}

.search input[type="text"] {
  width: 60%;
  vertical-align: center;
  border-radius: 100px;
  outline: none;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
  border: solid 1px green;
  background-color: #6b6b6b;
}
.search a {
  text-decoration-color: green;
  background-color: #3b3b3b;
  margin-top: 20px;
  width: 100px;
  text-align: center;
  margin-left: 5px;
  text-decoration: none;
}

body {
  background-color: #121212;
}

.navbar {
  background-color: #1f2021 !important;
}

::placeholder {
  color: white;
}

.btn {
  background-color: #6b6b6b;
  color: white;
}
